body {
    background-image: url(image.png);
    background-position: center top;

    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    margin: 0;
}

p {
    color: white;
}

div {
    background-color: rgba(0, 0, 0, 1.0);
    border: 2px solid white;
    color :white;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    width: 60vw;
    height: 90vh;
    text-align: center;
    line-height: 70px;
}